extends layout-navbar 
block content
    .card
        a(href="/" class="back")
            span(class="material-symbols-outlined") arrow_back
        h1 IMPORTANTE LEER
        p Este proyecto con cada calculo recopila datos y los almacena, si no se tiene una sesión, serán guardados como "invitado", 
            | de caso contrario serán guardados como datos del usuario de la sesión.
        p Sin mas por agregar, puedes volver al inicio dandole a la flecha verde ⬅️