doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
    link(rel="stylesheet", href="/css/auth.css")
    link(rel="stylesheet", href="/css/styles.css")
    
    //- Incluyendo los estilos de Notyf
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/notyf/notyf.min.css")
    
    title Registrarse
  body 
    .card
      a(href="/login" class="back")
        span(class="material-symbols-outlined") arrow_back
      h1 Regístrate
      p Por favor rellena los siguientes campos
      form.login-form(action="/send-signup" method="POST")
        input#username(type="text" name="username" placeholder="Nombre de usuario ✨" required)
        br
        input#email(type="email" name="email" placeholder="Correo ✉️" required)
        br
        input#password(type="password" name="password" placeholder="Contraseña 🔑" required)
        br
        input#conPassword(type="password" name="conPassword" placeholder="Confirmar contraseña 🔑" required)
        br
        input(type="submit" value="Registrarse")
        br
        p
          | Volver al 
          a(href="/login") iniciar sesión

    //- Script para inicializar Notyf
    script(src="https://cdn.jsdelivr.net/npm/notyf/notyf.min.js")
    script.
      // Crear una instancia de Notyf
      const notyf = new Notyf({
        duration: 5000, // Duración de la notificación (ms)
        position: {
          x: 'right',
          y: 'top'
        },
        dismissible: true, // Permitir cerrar la notificación manualmente
      });

      // Mostrar notificaciones si el mensaje está definido
      if (typeof !{JSON.stringify(message)} !== 'undefined') {
        const message = !{JSON.stringify(message)};
        if (message.type === 'success') {
          notyf.success(message.text);
        } else if (message.type === 'error') {
          notyf.error(message.text);
        }
      }